name: run gsw_check

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v6
    - uses: ilammy/msvc-dev-cmd@v1

    - name: Tests
      shell: bash
      run: |
         if [ "$RUNNER_OS" != "Windows" ]; then
              make && ./gsw_check
         elif [ "$RUNNER_OS" == "Windows" ]; then
              nmake && ./gsw_check.exe
         fi
